/* CSS Reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
/* 	border: 0; */
	}
body {
background-color: #fff;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.5;
color: #fff;
background: #0e101c;
}
*{
  box-sizing: border-box; 
   max-width:100%; 
   /* border: 1px solid red;  */
  margin: 0 auto;
}
h1{
  font-size: 2.8rem;
}
h2{
  font-size: 2.0rem;
}
h3{
  font-size: 1.4rem;
}
h4{
  font-size: 1.2rem;
}
p{
  font-size: 0.8rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #0e101c;
  color: #cf0;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 40%;
  padding: 1%;
}
nav a{
  text-decoration: none;
  padding: 0 2%;
  width: 50%;
  color: #cf0;
}
nav a:hover{
  background-color: #cf0;
  color: #0e101c;
  padding: 0.7% 0;
}
.logo{
  width: 50%;
}
.introduction{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro_text{
  width:50%;
  color: #cf0;
  padding-top: 10%;
  text-align: left;
  margin-left: 2%;
}
.intro_text h1{
  padding: 1%;
  font-weight: bold;
}
.intro_text h5{
  padding: 2%;

}
.intro_text p{
  padding: 2%;

}
#about{
  width: 100%;
  padding: 2%;
  margin: 2% 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about h2{
  font-weight: bold;
  padding: 3%;
  color: #cf0;
}
.about_left, 
.about_right{
  width: 50%;
  padding: 2%;
  margin: 2% 0%;
}
#skills{
  display: relative;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}

@keyframes skills {
  from {top: 0px;}
  to {top: 200px;}
}
#skills h2{
  font-weight: bold;
  color: #cf0;
}
.skills_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 3% 3% 7% 3%;
}
.skills_container img{
  width: 55%;
  height: 17vh;
  padding: 1% 1%;
  margin: 1%;
}
.tooltip{
  position: relative;
  display: inline-block;
  width: 20%;

}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 50%;
  background-color: #cf0;
  color: #0e101c;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 25%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
#portfolio{
  width: 90%;
  margin: 3% 5%;
}
#portfolio h2{
  padding: 3%;
  font-weight: bold;
  color: #cf0;
}
.portfolio_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container {
  position: relative;
}
.container img{
  opacity: 1;
  display: block;
  width: 95%;
  height: 32vh;
  transition: .5s ease;
  backface-visibility: hidden;
  margin: 2% 0;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}
.container:hover img {
  opacity: 0.3;
}
.container:hover .middle {
  opacity: 1;
}
.text {
  color: #cf0;
  font-size: 16px;
  padding: 10px 15px;
}
.text a{
  text-decoration: none;
  align-items: center;
  color:#cf0;
}
button{
  border: none;
  background-color: #cf0;
  color: #0e101c;
  padding: 8px 18px;
  margin-top: 16px;
  cursor: pointer;
}
#contact{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 2% 0;
}
#contact a{
 color: #cf0;
}
.contact_text{
  width: 40%;
  padding: 1%;
}
.contact_text h2{
  padding:5% 0;
  text-align: left;
  color: #cf0;
}
.contact_text p{
  padding:5% 1%;
  text-align: left;
}
input{
width: 100%;
padding: 3%;
margin: 1%;
border-top: none;
border-left: none;
border-right: none;
}
hr{
  border-color: #cf0;
  width: 80%;

}
footer{
  background-color: #0e101c;
  color: #cf0;
  margin-top: 4%;
  text-align: center;
  padding: 1% 0;
}
footer p{
  padding: 1% 0;
}
.footer_socials{
  padding: 1% 0;
}
.footer_socials a{
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 700px) {



}